*.DS_Store
.vscode/
.git
/.git
.env
.venv
venv
.pytest_cache
.coverage
cdk.out
# ignore all directories with the name test
# test/
# ignore a text.txt file located in a test directory at the root directory
# /test/text.txt
# ignores all .md files
# .md
# ignore ending
# *.md
# ignore starting
# abc*
# does not ignore the README.md file
# !README.md
