python-dotenv
boto3
aws-cdk-lib
aws-lambda-powertools
"aws-lambda-powertools[parser]"
"aws-lambda-powertools[tracer,parser,validation]"
"aws-lambda-powertools[all]"
"aws-lambda-powertools[aws-sdk]"
requests
pydantic
simplejson
pre-commit
isort
ruff
black
pylint==3.1.0
flake8==7.1.1
pytest
pytest-env
pytest-mock
pytest-cov
coverage
moto

