"aws-lambda-powertools[aws-sdk]"
"aws-lambda-powertools[all]"
"aws-lambda-powertools[parser]"
"aws-lambda-powertools[tracer,validation]"
aws-lambda-powertools
aws-cdk-lib
boto3

safety
poetry
poetry-plugin-export
pip-tools
pipenv
python-dotenv
requests
pydantic
devtools
simplejson
pre-commit
isort
ruff
black
flake8
pylint
pyright
pytest
pytest-env
pytest-dotenv
pytest-mock
pytest-cov
coverage
moto

