"aws-lambda-powertools[parser]"
"aws-lambda-powertools[tracer,parser,validation]"
"aws-lambda-powertools[all]"
"aws-lambda-powertools[aws-sdk]"
aws-lambda-powertools
aws-cdk-lib
boto3

safety
pip-tools
pipenv
python-dotenv
requests
pydantic
simplejson
pre-commit
isort
ruff
black
flake8
pylint
pytest
pytest-env
pytest-dotenv
pytest-mock
pytest-cov
coverage
moto

