aws-lambda-powertools>=2.34.1
aws-lambda-powertools[tracer]>=2.34.1
mypy_boto3_dynamodb==1.34.46
mypy_boto3_s3==1.34.14
mypy_boto3_sns==1.34.44
mypy_boto3_ses==1.34.0
mypy_boto3_textract==1.34.0
mypy_boto3_cognito_idp==1.34.33
mypy_boto3_bedrock==1.34.0
boto3>=1.34.53
pydantic>=2.9.1
moto==5.0.3
requests==2.31.0
python-jose>=3.3.0
joserfc>=0.9.0
langchain~=0.2.1
langchain-community~=0.2.1
langchain-aws~=0.1.6
langchain-openai~=0.1.8
openai~=1.30.4
pypdf>=4.0.1
pytest>=8.0.0
ruff~=0.4.7
pre-commit~=3.6.0
psycopg-binary~=3.2.1
pytest-postgresql~=5.1.1
docker~=7.0.0
junitparser~=3.1.2

numpy~=1.26.3
pyarrow~=15.0.0
openpyxl~=3.1.2
python-dateutil~=2.8.2

Faker~=23.2.1
tqdm~=4.66.2
freecurrencyapi==0.1.0